body {
    background-color: #282828;
    font-family: 'Roboto Mono', sans-serif;
}

.centerContainer {
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 150px;
    max-width: 60%;
    height: auto;
}
/*
.title {
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 50pt;
    margin-bottom: 0px;
    margin-top: 200px;
}  
*/
.new_game_btn {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 20pt;
}

.new_game {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 4px;
    border-style: solid;
    border-width: 3px;
    border-color: #ffffff;

    color: #ffffff;
    font-style: normal; 
    font-family: 'Roboto Mono';
    font-size: 30pt;
    text-decoration: none;
}

.new_game:hover {
    background-color: white;
    color: #282828;
}

.stats {
    margin: 30px;
}

.stats p {
    color: #ffffff;
    margin: 0;
    font-size: 13pt;
}