<!DOCTYPE html>
<html>
  <head>
    <title>Connect Four</title>
    <link rel="stylesheet" href="stylesheets/game.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/zof0mqp.css">
  </head>
  <body>

    <div class="vertAlign">
    <!-- Title -->
    <h1 class="title">CONNECT FOUR</h1>

    <!-- GRID -->
    <div class="grid">
      <a href="/clicked/1" class="column" id="c1">
        <div class="sqrbck"><div class="square" id="r6" ></div></div>
        <div class="sqrbck"><div class="square" id="r5"></div></div>
        <div class="sqrbck"><div class="square" id="r4"></div></div>
        <div class="sqrbck"><div class="square" id="r3"></div></div>
        <div class="sqrbck"><div class="square" id="r2"></div></div>
        <div class="sqrbck"><div class="square" id="r1"></div></div>
      </a>
      <a href="/clicked/2" class="column" id="c2">
        <div class="sqrbck"><div class="square" id="r6"></div></div>
        <div class="sqrbck"><div class="square" id="r5"></div></div>
        <div class="sqrbck"><div class="square" id="r4"></div></div>
        <div class="sqrbck"><div class="square" id="r3"></div></div>
        <div class="sqrbck"><div class="square" id="r2"></div></div>
        <div class="sqrbck"><div class="square" id="r1"></div></div>
      </a>
      <a href="/clicked/3" class="column" id="c3">
        <div class="sqrbck"><div class="square" id="r6"></div></div>
        <div class="sqrbck"><div class="square" id="r5"></div></div>
        <div class="sqrbck"><div class="square" id="r4"></div></div>
        <div class="sqrbck"><div class="square" id="r3"></div></div>
        <div class="sqrbck"><div class="square" id="r2"></div></div>
        <div class="sqrbck"><div class="square" id="r1"></div></div>
      </a>
      <a href="/clicked/4" class="column" id="c4">
        <div class="sqrbck"><div class="square" id="r6"></div></div>
        <div class="sqrbck"><div class="square" id="r5"></div></div>
        <div class="sqrbck"><div class="square" id="r4"></div></div>
        <div class="sqrbck"><div class="square" id="r3"></div></div>
        <div class="sqrbck"><div class="square" id="r2"></div></div>
        <div class="sqrbck"><div class="square" id="r1"></div></div>
      </a>
      <a href="/clicked/5" class="column" id="c5">
        <div class="sqrbck"><div class="square" id="r6"></div></div>
        <div class="sqrbck"><div class="square" id="r5"></div></div>
        <div class="sqrbck"><div class="square" id="r4"></div></div>
        <div class="sqrbck"><div class="square" id="r3"></div></div>
        <div class="sqrbck"><div class="square" id="r2"></div></div>
        <div class="sqrbck"><div class="square" id="r1"></div></div>
      </a>
      <a href="/clicked/6" class="column" id="c6">
        <div class="sqrbck"><div class="square" id="r6"></div></div>
        <div class="sqrbck"><div class="square" id="r5"></div></div>
        <div class="sqrbck"><div class="square" id="r4"></div></div>
        <div class="sqrbck"><div class="square" id="r3"></div></div>
        <div class="sqrbck"><div class="square" id="r2"></div></div>
        <div class="sqrbck"><div class="square" id="r1"></div></div>
      </a>
      <a href="/clicked/7" class="column" id="c7">
        <div class="sqrbck"><div class="square" id="r6"></div></div>
        <div class="sqrbck"><div class="square" id="r5"></div></div>
        <div class="sqrbck"><div class="square" id="r4"></div></div>
        <div class="sqrbck"><div class="square" id="r3"></div></div>
        <div class="sqrbck"><div class="square" id="r2"></div></div>
        <div class="sqrbck"><div class="square" id="r1"></div></div>
      </a>
    </div>

    <div class="info">
      <div class="square" id="player"></div>
      <p>YOU</p>
      <a href="/home">
        <img src="images/home_btn.png" class="home_btn"></img>
      </a>
    </div>

    </div>

  </body>
</html>