<!DOCTYPE html>
<html>
  <head>
    <title>Connect Four</title>
    <link rel="stylesheet" href="stylesheets/game.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/zof0mqp.css">
  </head>
  <body>

    <div class="vertAlign">
    <!-- Title
    <h1 class="title">CONNECT FOUR</h1>
    -->
    <img class="logo" src="images/extended_logo.png">

    <!-- GRID -->
    <div class="grid">
      <div class="column" id="c0">
        <div class="sqrbck"><div class="square r5" ></div></div>
        <div class="sqrbck"><div class="square r4"></div></div>
        <div class="sqrbck"><div class="square r3"></div></div>
        <div class="sqrbck"><div class="square r2"></div></div>
        <div class="sqrbck"><div class="square r1"></div></div>
        <div class="sqrbck"><div class="square r0"></div></div>
      </div>
      <div class="column" id="c1">
        <div class="sqrbck"><div class="square r5" ></div></div>
        <div class="sqrbck"><div class="square r4"></div></div>
        <div class="sqrbck"><div class="square r3"></div></div>
        <div class="sqrbck"><div class="square r2"></div></div>
        <div class="sqrbck"><div class="square r1"></div></div>
        <div class="sqrbck"><div class="square r0"></div></div>
      </div>
      <div class="column" id="c2">
        <div class="sqrbck"><div class="square r5" ></div></div>
        <div class="sqrbck"><div class="square r4"></div></div>
        <div class="sqrbck"><div class="square r3"></div></div>
        <div class="sqrbck"><div class="square r2"></div></div>
        <div class="sqrbck"><div class="square r1"></div></div>
        <div class="sqrbck"><div class="square r0"></div></div>
      </div>
      <div class="column" id="c3">
        <div class="sqrbck"><div class="square r5" ></div></div>
        <div class="sqrbck"><div class="square r4"></div></div>
        <div class="sqrbck"><div class="square r3"></div></div>
        <div class="sqrbck"><div class="square r2"></div></div>
        <div class="sqrbck"><div class="square r1"></div></div>
        <div class="sqrbck"><div class="square r0"></div></div>
      </div>
      <div class="column" id="c4">
        <div class="sqrbck"><div class="square r5" ></div></div>
        <div class="sqrbck"><div class="square r4"></div></div>
        <div class="sqrbck"><div class="square r3"></div></div>
        <div class="sqrbck"><div class="square r2"></div></div>
        <div class="sqrbck"><div class="square r1"></div></div>
        <div class="sqrbck"><div class="square r0"></div></div>
      </div>
      <div class="column" id="c5">
        <div class="sqrbck"><div class="square r5" ></div></div>
        <div class="sqrbck"><div class="square r4"></div></div>
        <div class="sqrbck"><div class="square r3"></div></div>
        <div class="sqrbck"><div class="square r2"></div></div>
        <div class="sqrbck"><div class="square r1"></div></div>
        <div class="sqrbck"><div class="square r0"></div></div>
      </div>
      <div class="column" id="c6">
        <div class="sqrbck"><div class="square r5" ></div></div>
        <div class="sqrbck"><div class="square r4"></div></div>
        <div class="sqrbck"><div class="square r3"></div></div>
        <div class="sqrbck"><div class="square r2"></div></div>
        <div class="sqrbck"><div class="square r1"></div></div>
        <div class="sqrbck"><div class="square r0"></div></div>
      </div>
    </div>

    <div class="info">
      <div class="square" id="player"></div>
      <p id="you">YOU</p>
      
      <a href="/home">
        <img src="images/home_btn.png" class="home_btn"></img>
      </a>
      <p id="time"><label id="minutes">00</label>:<label id="seconds">00</label></p>
    </div>

    </div>

    <script src="javascripts/Board.js"></script>
    <script src="javascripts/Timer.js"></script>
  </body>
</html>