<!DOCTYPE html>
<html>
  <head>
    <title>Connect Four</title>
    <link rel="stylesheet" href="stylesheets/splash.css"/> 
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/zof0mqp.css">
  </head>
  <body>

    <div class="stats">
      <p>Players online: <%= players %></p>
      <p>Ongoing matches: <%= ongoing %></p>
      <p>Games played: <%= total %></p>
    </div>

    <div class="centerCont">
      <!-- Title -->
      <img class="logo" src="images/extended_logo.png">
      <!--<h1 class="title">CONNECT FOUR</h1>-->

      <div class="new_game_btn">
        <a href="/newgame" class="new_game">NEW GAME</a> 
      </div>
    </div>
   
  </body>
</html>