<!DOCTYPE html>
<html>
  <head>
    <title>Connect Four</title>
    <link rel="stylesheet" href="stylesheets/waiting.css"/> 
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="time">
      <label id="minutes">00</label>:<label id="seconds">00</label>
    </div>

    <div class="info">
        <p>...Waiting for opponent...</p>
    </div>
   
    <script src="javascripts/Timer.js"></script>
    <script src="javascripts/Connect.js"></script> 
  </body>
</html>