<!DOCTYPE html>
<html>
  <head>
    <title>Connect Four</title>
    <link rel="stylesheet" href="stylesheets/waiting.css"/> 
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="time">
        <p>00:00</p>
    </div>

    <div class="info">
        <p>...Waiting for opponent...</p>
    </div>
   
  </body>
</html>